<footer id="template-i7x6au" class="">
    <section id="template-iv27d9" class="gpd-section">
        <div id="template-i370yd" class="gpd-container gpd-cnt">
            <div id="i3kj0d" class="gdp-row gpd-grid">
                <div id="i70ji8" class="cell gpd-clm">
                    
<h1 id="iejog" class="gpd-header">
Discover</h1>

                    <div id="ijhgew" class="gdp-row gpd-grid">
                        <div id="template-i4dls3" class="cell gpd-clm">
<a id="i3dj7c" class="gpd-link">
Products</a>

                        </div>
                        <div id="template-ipvyav" class="cell gpd-clm">
<a id="iwe5iz" class="gpd-link">
Trials</a>

                        </div>
                        <div id="template-i5rhr7" class="cell gpd-clm">
<a id="i5i5sp" class="gpd-link">
Services</a>

                        </div>
                        <div id="template-ivso4y" class="cell gpd-clm">
<a id="iz2u2f" class="gpd-link">
Industries</a>

                        </div>
                        <div id="template-iolhh8" class="cell gpd-clm">
<a id="ilj3lx" class="gpd-link">
IBM discounts</a>

                        </div>
                        <div id="template-ihvmxn" class="cell gpd-clm">
<a id="ipfhqh" class="gpd-link">
Case studies</a>

                        </div>
                    </div>
                </div>
                <div id="i6tmmu" class="cell gpd-clm">
                    
<h1 id="is8xq1" class="gpd-header">
Information for...</h1>

                    <div id="i9o9ld" class="gdp-row gpd-grid">
                        <div id="template-ibpk8n" class="cell gpd-clm">
<a id="ihhpxt" class="gpd-link">
Developers</a>

                        </div>
                        <div id="template-icmenj" class="cell gpd-clm">
<a id="i6az77" class="gpd-link">
Business Partners</a>

                        </div>
                        <div id="template-i0rild" class="cell gpd-clm">
<a id="igzazs" class="gpd-link">
<span id="template-ie4w44" class="">
Federal
                                        and state contracts</span>
</a>

                        </div>
                    </div>
                </div>
                <div id="ir0gya" class="cell gpd-clm">
                    
<h1 id="iq1f6g" class="gpd-header">
Connect with us</h1>

                    <div id="i9rxc2" class="gdp-row gpd-grid">
                        <div id="template-ih6d73" class="cell gpd-clm">
<a id="i8muak" class="gpd-link">
Support</a>

                        </div>
                        <div id="template-i0esgu" class="cell gpd-clm">
<a id="iht86y" class="gpd-link">
Find a sales rep</a>

                        </div>
                        <div id="template-iebpew" class="cell gpd-clm">
<a id="im0l7l" class="gpd-link">
Find a Business Partner</a>

                        </div>
                    </div>
                </div>
                <div id="ic4fen" class="cell gpd-clm">
                    
<h1 id="ide7h5" class="gpd-header">
About IBM</h1>

                    <div id="irpwjr" class="gdp-row gpd-grid">
                        <div id="template-iqjz1y" class="cell gpd-clm">
<a id="i3efh6" class="gpd-link">
Careers</a>

                        </div>
                        <div id="template-iebjxf" class="cell gpd-clm">
<a id="ijtqse" class="gpd-link">
Latest news</a>

                        </div>
                        <div id="template-ifauq5" class="cell gpd-clm">
<a id="itrx7r" class="gpd-link">
<span id="template-ikcnbx" class="">
Investor
                                        realtions</span>
</a>

                        </div>
                        <div id="template-ioguk8" class="cell gpd-clm">
<a id="iresqk" class="gpd-link">
<span id="template-iglwxf" class="">
Corporate
                                        responsibility</span>
</a>

                        </div>
                        <div id="template-ir48pi" class="cell gpd-clm">
<a id="iuayy4" class="gpd-link">
<span id="template-im7u5m" class="">
About
                                        IBM</span>
</a>

                        </div>
                    </div>
                </div>
            </div>
            <div id="i7dolx" class="gpd-divider"></div>
            <div id="template-i5l4sg" class="gdp-row gpd-grid">
                <div id="template-ikffvx" class="cell gpd-clm">
                    <nav data-gjs="navs" id="i8ho" class="menu">
<a [routerLink]="['##']" id="iasj" class="menu-link">
Products</a>

<a [routerLink]="['##']" id="i1eyi" class="menu-link">
Services</a>

<a [routerLink]="['##']" id="i7zx3" class="menu-link">
Industries</a>

<a [routerLink]="['##']" id="ixsa4" class="menu-link">
Developers</a>

<a [routerLink]="['##']" id="ig2aj" class="menu-link">
Support</a>

                    </nav>
                </div>
                <div id="template-iddz5r" class="cell gpd-clm">
<span id="template-ipov3j" class="Geppetto">
<div id="template-i8dlkf" class="">
Powered By Geppetto 
                            </div>
<img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/04c2b4a878b04dfa86863bcc778c653d_geppettoicon.png" width="50" height="50" id="template-ioolwf" class=""/>
</span>

                </div>
            </div>
        </div>
    </section>
</footer>